@import url(https://fonts.bunny.net/css);

@font-face {
    font-family: "Norse Bold";
    src: url("fonts/Norse-Bold.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Roboto-Medium";
    src: url("fonts/Roboto-Medium.ttf")  format("truetype");
    font-weight: normal;
    font-style: normal;
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: black;
    font-family: "Roboto-Medium";
    font-weight: normal;
    font-style: normal;
}

form {
    background-color: whitesmoke;
    min-height: 600px;
    width: 40vw;
}


.logo {
    
   /* position: absolute;
    top: 150px;*/
    width: 50px;
    /*left: 100px;*/
    
    
    
}

.logo-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 120px;
    left: 0px;
    min-width: max(23vw, 150px);
    text-align: center;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {

    font-family: "Norse Bold";
    color: white;
}

.aside {
    
    min-height: 600px;
    min-width: max(23vw, 150px);
}

.aside-container {
    position: relative;
}

p {
    width: clamp(45ch, 90%, 60ch);
}

div.intro {
    padding-top: 50px;
    padding-bottom: 30px;
}

.intro > p {
    margin-top: 30px;
    font-size: 1rem;
}

.user-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    padding-bottom: 30px;
    border-bottom: 2px solid white;
    box-shadow: 1px 2px 2px gainsboro;
}

.start {
    background-color: white;
    margin-bottom: 0;
}

.start p { 
    font-size: 1rem;
    margin-left: 30px;
    padding-top: 10px;
    font-weight: 900px;
}

label {
    font-size: 0.5rem;
}

.first-name, .last-name, .mail, .phone, .password, 
.confirm-password {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    margin-top: 15px;
    /*margin-left: 30px;*/

}

.first-name, .mail, .password, .intro, .button, 
.login {
    margin-left: 30px;
}


.password input:invalid, .confirm-password input:invalid {
    border-color: red;
}

.first-name input, .last-name input, .mail input, .phone input, .password input, 
.confirm-password input {
    border-radius: 3px;
    padding: 3px;
    border: 1px solid #E5E7EB;
}

input:focus {
    border-color: yellowgreen;
    outline: none;
}

.first-name, .mail, .password{
    margin-right: 40px;

}

button[type="submit"] {
    background-color: #596D48;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    color: white;
    font-size: 0.6rem;
}

.login {
    margin-top: 20px;
    font-size: 0.7rem;
}

span {
    color:  #596D48;
    font-size: 0.7rem;
}